extends ../_template

block variables
  - var title = "Страница блога"

block content 
  //- Примесь hero
  section.section.hero

    //- Позиционирование ссылок
    .hero__link
      -
        var socials = [
          ['https://vk.com/phoen1x_m', 'vk'],
          ['mailto:matvey.phoen1x@yandex.ru', 'envelope2'],
          ['https://github.com/matvey-phoen1x', 'github']        
        ]
      ul.socials
        each item in socials
          li.socials__item
            a(href=`${item[0]}` target="blank").socials__link
              svg(class="socials__img socials__img--hero" width="30" height="25")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/svg/sprite.svg#" + `${item[1]}`)
    
    //- Позиционирование меню
    .hero__menu

      a.hamburger(href="#")
        svg.hamburger__img(width="40" height="40")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/svg/sprite.svg#hamburger")

    //- Позиционирование фонового заголовка
    .hero__title

      .section-title
        svg.section-title__img
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/svg/sprite.svg#blog_header")

    //- Позиционирование карточки
    .hero__user
      
      .user
        .user__avatar
          img(src="./assets/images/avatar.jpg").user__pic
        .user__description
          .block-title.block-title--blog Блог
          .user__desc.user__desc--blog Статьи, которые я написал

    //- Позиционирование кнопки скролла
    .hero__scroll

      a(href="#").arrow-down
        svg(class="arrow-down__img" width="30" height="25")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/svg/sprite.svg#portf_arrow_down")

  section.section.blog 
    .triangles
      svg(class="triangles__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 140" preserveAspectRatio="none")
        polygon(class="triangles__left triangles__left--white" points="0,0   0,151   500.8,151   500.8,100")
        polygon(class="triangles__right" points="1000,0   1000,151   500,151   500,100")

    .blog__wrap

      nav.blog__left

        ul.sidebar
          each item in ['Самое важное в SASS', 'Приёмы в вёрстке, без которых не обходится ни один сайт', 'Самый необходимый набор Gulp плагинов', 'Почему я выбрал Jade']
            li.sidebar__item
              a.sidebar__link(href="#") #{item} 


      .blog__right

        article.article
          .article__title Самое важное в SASS
          .article__date 22 ноября 2016
          .article__text
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

        article.article
          .article__title Приёмы в вёрстке, без которых не обходится ни один сайт
          .article__date 13 ноября 2016
          .article__text
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.


  footer.footer
    .footer__column
      .footer__column-wrap
    
        .footer__column-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

    .footer__column
      .footer__column-wrap

        //- Меню (для гамбургера тоже, с 1 модификатором)
        nav.menu
          -
            var menu = [
              ['Мои работы', './work.html'],
              ['Обо мне', './about.html'],
              ['Блог', './blog.html'],
              ['Авторизация', './index.html']
            ]

          ul.menu__list
            each item in menu
              li.menu__item
                a.menu__link(href=`${item[1]}`) #{item[0]}

        ul.socials.socials--footer
          each item in socials
            li.socials__item
              a(href=`${item[0]}` target="blank").socials__link
                svg(class="socials__img--footer" width="30" height="25")
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/svg/sprite.svg#" + `${item[1]}`)

    .footer__column 
      .footer__column-wrap

        .footer__column-cit
          .footer__column-text.footer__column-text--cit 
            p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
          .footer__column-autor — Martin Golding

    .footer__row
      .footer-text © Матвей Феникс | Создано с любовью в LoftSchool | 2018